---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />

		<meta
			name="description"
			content="Juan Alfredo Gutierrez - Senior Software Engineer, Tech Lead, .NET, Azure, Microservices and AI Solutions"
		/>

		<title>Juan Alfredo Gutierrez | Portfolio</title>
	</head>

	<body class="bg-slate-950 text-slate-100">
		<slot />
	</body>
</html>